trigger:
  - main

name: Deploy Bicep files

parameters:
  - name: serviceName
    type: string
    default: apc
    values:
      - apc
      - ji

  - name: deploy_prod
    displayName: Deploy to PROD
    type: boolean
    default: false

  - name: deploy_shared
    displayName: Deploy Shared Resources
    type: boolean
    default: false

variables:
  vmImageName: "ubuntu-latest"
  resourceGroupName: "dps"
  location: "west europe"
  templateFile: "infra.bicep"
pool:
  vmImage: $(vmImageName)

stages:
  - stage: Test
    displayName: Deploy Test
    jobs:
      - job: Build
        displayName: Build
        pool:
          vmImage: $(vmImageName)

        steps:
          - ${{ if eq(parameters.deploy_shared, true) }}:
              - template: azure-pipelines-shared.yml
                parameters:
                  name: Build
                  vmImage: $(vmImageName)
                  serviceName: $(serviceName)
                  deploy: true
                  vnetResourceGroup: "dmsResourceGroup"
                  subscriptionId: "bf558742-a412-4a60-88c4-733121e9580f"
                  tenantId: "6618d4dc-2516-4213-a4f4-029b4d661f09"
                  deploymentOperatorId: "df461188-ee64-43bc-b888-0d2e4f55c9b1"
                  tags: "{ 'BUSINESS-AREA': $(serviceName), 'RUNTIME-ENVIRONMENT': 'test' }"

          - template: azure-pipelines-common.yml
            parameters:
              name: Deploy Common Resources
              vmImage: $(vmImageName)
              serviceName: $(serviceName)
              deploy: true
              vnetResourceGroup: "dmsResourceGroup"
              subscriptionId: "bf558742-a412-4a60-88c4-733121e9580f"
              tenantId: "6618d4dc-2516-4213-a4f4-029b4d661f09"
              deploymentOperatorId: "df461188-ee64-43bc-b888-0d2e4f55c9b1"
              tags: "{ 'BUSINESS-AREA': $(serviceName), 'RUNTIME-ENVIRONMENT': 'test' }"

  - stage: Prod
    displayName: Deploy Prod
    jobs:
      - job: Build
        displayName: Build
        pool:
          vmImage: $(vmImageName)

        steps:
          - ${{ if eq(parameters.Deploy_Shared, true) }}:
              - template: azure-pipelines-shared.yml
                parameters:
                  name: Build
                  vmImage: $(vmImageName)
                  serviceName: $(serviceName)
                  deploy: $(deploy_shared)
                  vnetResourceGroup: "dmsResourceGroup"
                  subscriptionId: "bf558742-a412-4a60-88c4-733121e9580f"
                  tenantId: "6618d4dc-2516-4213-a4f4-029b4d661f09"
                  deploymentOperatorId: "df461188-ee64-43bc-b888-0d2e4f55c9b1"
                  tags: "{ 'BUSINESS-AREA': $(serviceName), 'RUNTIME-ENVIRONMENT': 'prod' }"

          - template: azure-pipelines-common.yml
            parameters:
              name: Deploy Common Resources
              vmImage: $(vmImageName)
              serviceName: $(serviceName)
              deploy: $(deploy_prod)
              vnetResourceGroup: "dmsResourceGroup"
              subscriptionId: "bf558742-a412-4a60-88c4-733121e9580f"
              tenantId: "6618d4dc-2516-4213-a4f4-029b4d661f09"
              deploymentOperatorId: "df461188-ee64-43bc-b888-0d2e4f55c9b1"
              tags: "{ 'BUSINESS-AREA': $(serviceName), 'RUNTIME-ENVIRONMENT': 'prod' }"
