trigger:
  - master

name: Deploy Bicep files

variables:
  vmImageName: "ubuntu-latest"

  azureServiceConnection: "Azure subscription 1"
  resourceGroupName: "exampleRG"
  location: "westeurope"
  templateFile: "main.bicep"
pool:
  vmImage: $(vmImageName)

steps:
  - task: AzureCLI@2
    inputs:
      azureSubscription: $(azureServiceConnection)
      scriptType: bash
      scriptLocation: inlineScript
      inlineScript: |
        az --version
        az deployment sub create -f ./main.bicep --location westeurope --parameters @parameters.json
